# Useful ADS Bits and pieces that made my life.. easy ish

![hearts](https://user-images.githubusercontent.com/30621653/76018449-f951de00-5f17-11ea-99a3-fb305583abfc.png)

<u>Snippets</U>  
>Quickly create re-useable code in simple steps
1. Open New SQL query window
2. Ctrl-Shift+P
3. Write some SQL you want to save
4. Type QE Boost and select QE Boost: Save New snippet
5. Give it a name starting SQL
6. Enter description
7. Then just Type in any query window sql.....name of the snippet
>

In [ ]:

-- Get CPU Utilization History for last 256 minutes (in one minute intervals)  (Query 46) (CPU Utilization History)
DECLARE @ts_now bigint = (SELECT cpu_ticks/(cpu_ticks/ms_ticks) FROM sys.dm_os_sys_info WITH (NOLOCK)); 

SELECT TOP(256) SQLProcessUtilization AS [SQL Server Process CPU Utilization], 
               SystemIdle AS [System Idle Process], 
               100 - SystemIdle - SQLProcessUtilization AS [Other Process CPU Utilization], 
               DATEADD(ms, -1 * (@ts_now - [timestamp]), GETDATE()) AS [Event Time] 
FROM (SELECT record.value('(./Record/@id)[1]', 'int') AS record_id, 
			record.value('(./Record/SchedulerMonitorEvent/SystemHealth/SystemIdle)[1]', 'int') 
			AS [SystemIdle], 
			record.value('(./Record/SchedulerMonitorEvent/SystemHealth/ProcessUtilization)[1]', 'int') 
			AS [SQLProcessUtilization], [timestamp] 
	  FROM (SELECT [timestamp], CONVERT(xml, record) AS [record] 
			FROM sys.dm_os_ring_buffers WITH (NOLOCK)
			WHERE ring_buffer_type = N'RING_BUFFER_SCHEDULER_MONITOR' 
			AND record LIKE N'%<SystemHealth>%') AS x) AS y 
ORDER BY record_id DESC OPTION (RECOMPILE);
------

## Some more useful snippets

> Index stats

> Job steps

## Converting sp_execute 
> ### (Shift+Ctrl+P) and search for convert

In [ ]:
exec sp_executesql N'UPDATE "dbo"."ExampleTable" SET "PassportNumber"=@P1 WHERE "Emp_No" = @P2 AND "PayrollID" = @P3 AND "UKNO" = @P4 AND "PassportNumber" IS NULL AND "Time1" IS NULL AND "Time2" IS NULL AND "Time1_FE" IS NULL AND "Time2_FE" IS NULL AND "Time1_Rate" IS NULL AND "Time2_Rate" IS NULL AND "Phone_Book_ID" IS NULL AND "Hide_From_PR" = @P5 AND "Hide_From_Grid" = @P6 AND "Requires_PC" = @P7 AND "Spare_2" = @P8 AND "Spare_3"
= @P9 AND "Spare_4" = @P10 AND "Spare_5" = @P11 AND "Spare_6" = @P12 AND "Employee_Ref" IS NULL AND "NI_NO" IS NULL AND "Payroll_Number" IS NULL AND "Passport_1_No" = @P13 AND "Passport_1_Country" = @P14 AND "Passport_2_No" IS NULL AND "Country" = @P15 AND "Passport_3_No" IS NULL AND "Passport_3_Country" IS NULL AND "DACEE_ID" IS NULL AND "Bel_Nat_No" IS NULL AND "Bel_Payroll_Number" IS NULL AND "Salary" IS NULL AND "Currency" IS NULL AND "NI_Code" = @P16 AND "LWB" = @P17 AND "_LWB_Changed_By" = @P18 AND "_LWB_Changed_Date" = @P19 AND "XY" = @P20 AND "Partners_Address_Book" = @P21 AND "ABC" IS NULL AND "PRT" IS NULL AND "SAP_ID" = @P22 AND "SID" = @P23 AND "X_Code" IS NULL AND "VAT_Code" IS NULL AND "CCMX" IS NULL AND "Country_of_birth" = @P24 AND "ExpiryDate" = @P25 AND "ExpiryDate2" IS NULL AND "ExpiryDate3" IS NULL',N'@P1 varchar(50),@P2 int,@P3 int,@P4 varchar(50),@P5 bit,@P6 bit,@P7 bit,@P8 bit,@P9 bit,@P10 bit,@P11 bit,@P12 bit,@P13 nvarchar(50),@P14 int,@P15 int,@P16 nvarchar(1),@P17 bit,@P18 int,@P19 datetime,@P20 bit,@P21 bit,@P22 nvarchar(15),@P23 binary(250),@P24 int,@P25 datetime','1234',666,514,'SD',0,0,0,0,0,0,0,0,N'11152930',10,120,N'A',0,2100,'2022-04-18 10:29:22.390',0,1,N'00000000',0x010500000000005000000833DXX61199B978828B85E0E00000000000000000000000000,120,'2001-12-14 00:00:00'

## Formatting SQL
>### ctrl+shift+ P type poor SQL or set a hotkey (Shift-I)

In [ ]:

SELECT   e.[BusinessEntityID],p.[Title],p.[FirstName],p.[MiddleName] ,p.[LastName],p.[Suffix],e.[JobTitle]  ,pp.[PhoneNumber]
    ,pnt.[Name] AS [PhoneNumberType],ea.[EmailAddress] ,p.[EmailPromotion]
    ,a.[AddressLine1] ,a.[AddressLine2],a.[City] ,sp.[Name] AS [StateProvinceName] 
    ,a.[PostalCode],cr.[Name] AS [CountryRegionName]   ,p.[AdditionalContactInfo]
FROM [HumanResources].[Employee] e 	INNER JOIN [Person].[Person] p	ON p.[BusinessEntityID] = e.[BusinessEntityID]
    INNER JOIN [Person].[BusinessEntityAddress] bea     ON bea.[BusinessEntityID] = e.[BusinessEntityID]     INNER JOIN [Person].[Address] a 
    ON a.[AddressID] = bea.[AddressID]    INNER JOIN [Person].[StateProvince] sp 
    ON sp.[StateProvinceID] = a.[StateProvinceID]    INNER JOIN [Person].[CountryRegion] cr 
    ON cr.[CountryRegionCode] = sp.[CountryRegionCode]   
 LEFT OUTER JOIN [Person].[PersonPhone] pp
ON pp.BusinessEntityID = p.[BusinessEntityID]    
LEFT OUTER JOIN [Person].[PhoneNumberType] pnt
    ON pp.[PhoneNumberTypeID] = pnt.[PhoneNumberTypeID]
    LEFT OUTER JOIN [Person].[EmailAddress] ea
    ON p.[BusinessEntityID] = ea.[BusinessEntityID];
GO